/* FONTS */

@charset "UTF-8";
@font-face
{
 font-family: OpenSans;
 src: url('font/OpenSans-Light.ttf');
}
@font-face
{
  font-family: OpenSans;
  src: url('font/OpenSans-Regular.ttf');
  font-weight: bold;
}

/* GENERAL CSS */

html {
  background-color: #B3B3B3;

}

body
{
  margin:0px;
  font-family: OpenSans,'Helvetica','sans-serif';
  font-size: 15px;
}

#wrapper
{
  background-color: #B3B3B3;
  padding: 10px;
  margin: 0px auto;
}

/* LOGO CSS */

h1
{
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  font-family: OpenSans,'Helvetica','sans-serif';
}

/* CLOUD CSS */

#cloud
{
  margin: 5px auto;
  width: 400px;
  height: 300px;
  position: relative;
  text-align: center;
}

#fileElem
{
  visibility: hidden;
  width: 0;
  height: 0;
}

#fileSelect
{
  background-image: url(img/cloud.png);
  background-image: url(img/cloud-clean.svg), none;
  background-size: 100% 100%;
  border: 0px;
  width: 400px;
  height: 300px;
  cursor: pointer;
}

#cloud-foreground
{
  position: absolute;
  z-index: 4;
}

#cloud-text-container
{
  position: absolute;
  left: 10%;
  width: 80%;
  height: 100%;
  z-index: 3;
}

#cloud-bar
{
  background-color: #D65A5A;
  position: absolute;
  width: 0%;
  height: 100%;
  z-index: 2;
}

#cloud-background
{
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#cloud-text
{
  font-size: 32px;
  margin: 150px auto;
}

/* DIALOG CSS */

#dialog
{
  text-align: left;
  margin: 10px auto;
  width: 400px;
  display: none;
}

#dialog .alert {
  margin-top: 20px;
}

#dialog .input-group {
  margin-top: 15px;
  margin-bottom: 15px;
}


#dialog h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#dialog .radio {
  margin-top : 15px;
}

#dialog .panel-body {
  margin-left:20px;
  margin-right:20px;
  margin-bottom:10px;
}

#dialog .row {
  display: none;
}

#footer {
  width: 500px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  margin-top: 5px;
  color: white;
}

#footer p {
  font-size: 0.8em;
  color: #505050;
}

#body{
  background:#959595;
}
