/* WHOLE PAGE SETTING */

html, body {
  height:100%;
}

body {
  background-color: #2c3e50;
  min-height:100%;
  cursor: default;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.container {
  padding-bottom: 40px;
  height: calc(100% - 84px);
}

.header {
  display: inline-block;
  width: 100%;
}

.header p, .header img {
  margin: 0px;
  padding: 10px 5px;
}

.ghost {
  visibility: hidden
}

p, h1, h3, h5, .dialog {
  font-family: inherit;
  color: inherit;
}

/* MY FRAMEWORK */

._checkbox, ._radiobox {
  width: 20px;
  height: 20px;
  float: left;
  padding-right: 5px;
}

._checked {
  background: url(images/checked.png); 
  background-repeat: no-repeat;
}

._unchecked {
  background: url(images/unchecked.png);
  background-repeat: no-repeat;
}

div._button {
  display: inline-block;
  padding: 20px 20px;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.2em;
}

._full {
  font-weight: bolder;
  background-color: #e74c3c;
}

._full:hover {
  background-color: #E95E50;
}

._button._full:active {
  background-color: #B93D30;
}

._full._button._disabled {
  background-color: #bdc3c7;
  pointer-events: none;
}

._full_button._disabled:hover {
  background-color: #bdc3c7;
}

._empty {
  border: 1px white solid;
  transition: color 0.5s;
  transition: background-color 0.5s;
}

._empty:active {
  background-color: #ecf0f1;
  color: #2c3e50;
}

._empty._button:hover {
  background-color: white;
  color: #2c3e50;
}

/* HEADER */

.header {
  width: 100%;
}

.header img {
  height:24px;
  float: right;
  cursor: pointer;
}

.header p {
  float: right;
  font-size: 1.3em;
  color: #bdc3c7;
}

/* CLOUD */

#cloud_path {
  cursor: pointer;
}

/* TITLE */

h1 .colored {
  color: #e74c3c;
}

/* DIALOG */

.dialog {
  transition: margin-top 1s;
  /* no selection */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

h1 {
  padding-bottom: 20px;
}

h3 {
  font-size: 1.4em;
}

h5 {
  font-size: 1em;
}

._label {
  font-size: 0.8em;
}

input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.upload._button.drop {
  border: 1px white dashed;
}

.print._button {
  padding: 15px 0;
  margin: 20px 0;
}

#button_wrapper {
  padding: 0;
  margin: 0;
}

/* CLOUD */

path:not(#cloud_path) {  
  pointer-events: none;
}

#cloud_column {
  transition: margin-top 1s;
}

#cloud_column svg.foreground {
  margin: auto;
  display: block;
  padding-bottom: 10px;
}

/* FILE LIST */

#fileList {
  margin-bottom: 0;
}

#fileList li {
  text-align: center;
  margin: 0;
  padding: 2px 0px;
}

#fileList p {
  font-size: 0.8em;
  margin: 0;
}

#fileList img {
  vertical-align: middle;
  padding: 0px 4px;
  cursor: pointer;
}

/* FOOTER */

#footer {
  clear: both;
  position: relative;
  margin-top: -40px;
}

#footer p {
  display: block;
  font-size: 0.8em;
  color: #bdc3c7;
  text-align: center;
  margin: 0;
  line-height: 0.5;
}

#footer img {
  vertical-align: middle;
  padding: 8px;
}

@media only screen and (max-width: 767px) {
  .header {
    border-bottom: 1px solid #bdc3c7;
    /*background-color: #233240;*/
  }

  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }

  h1 {
    font-size: 2.9em;
    text-align: center;
    padding-top: 25px;
  }
  
  .dialog {
    padding-bottom: 30px;
  }

  #cloud_column {
    padding-bottom: 10px;
  }

  ._empty._button {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #button_wrapper {
    text-align: center;
  }

  h5 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.3em;
  }

  ._label {
    font-size: 1em;
  }

  #from, #to {
    margin-top: 6px;
  }

  .print._button {
    padding: 15px 0;
    margin: 25px 0;
  }
}

@media only screen and (min-width: 768px) {
  #from{
    margin-left: 25px;
  }

  #from, #to { 
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 940px) {
  .upload._button {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 940px) {
  .dropbox._button {
    margin-left: 15px;
  }
}